{%  extends 'accounts/main.html' %}

{% block content %}
{% load static %}
{% for item in products %}
<div class="card" style="width: 18rem; margin: 15px 30px; border: 5px solid black; background-color:#E0FFFF;">
    <img class="card-img-top" src="{{item.photo.url}}" alt="Card image cap"
    style="width: 100%; height: 20vw; object-fit: cover;">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text"> Price: &#8377; {{item.price}}</p>
      <p class="card-text">{{item.description}}</p>
    </div>
    <div class="card-footer text-muted mx-auto" style="background-color: #E0FFFF;">
        <a href="#" class="btn btn-primary">Interested</a>
    </div>
  </div>
{% endfor %}
 {% endblock %}


