<footer class="page-footer font-small unique-color-dark" style="background-color: rgb(61, 51, 51); color: white; padding: 10px;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">IITKart</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>This website was made in 2022 with the aim of helping students of IIT Kanpur.
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Feedback</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaxpjTx1Ul24Xa-1HB52q69aGOL9bXf0aKQ7_8yhbL8N1qUw/viewform?usp=sf_link">Give us Suggestions</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="{%url 'accounts:home'%}">Home</a>
          </p>
          <p>
            <a href="{%url 'accounts:buy'%}">Buy Products</a>
          </p>
          <p>
            <a href="{%url 'accounts:sell'%}">Sell Products</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> IIT Kanpur, UP 208016, INDIA</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> IITKart@iitk.ac.in</p>
          <p>
            <i class="fas fa-phone mr-3"></i> +91 9949700172</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 91 8612792086</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <p><b>Team 9 : Matrix</b></p>
    </div>
    <!-- Copyright -->
  
  </footer>