{% extends 'accounts/main.html' %} {% block content %}


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      #display {
        width: fit-content;
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: center;
      }

      .chatbox {
        width: min-content;
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        text-align: center;
      }
      input{
        /* padding: 10px; */
        margin: 10px;
      }

      .time-right {
        float: right;
        color: #aaa;
      }

      .time-left {
        float: left;
        color: #999;
      }
    </style>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="display">
      <h2>{{room}}</h2>
      <script>
        function getCookie(c_name) {
    var c_arr = document.cookie.split(';');
    var jwtToken
    c_arr.forEach((val) => {
      if (c_name == val.split('=')[0]) {
        var token = val.split('=')[1];
        jwtToken = token
      }
    })
    return decodeURI(jwtToken);
  }
        $(document).ready(function () {
          setInterval(function () {
            fetch("http://127.0.0.1:8000/getMessages/{{room}}/",{
              method: "GET",
              headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'authority': 'bearer ' + getCookie('csrftoken')
              }
            }).then((response) => {
              if(response.status == 200){
                return response.json();
              }}).then((response) => {
              $("#chats").empty();
                if (response.messages.length == 0) {
                  var temp =
                    "<h3>No one has sent message to this room yet.</h3>";
                  $("#chats").append(temp);
                }
                for (var key in response.messages) {
                  var temp =
                    "<div class='container darker'><b>" +
                    response.messages[key].user +
                    "</b><p>" +
                    response.messages[key].value +
                    "</p><span class='time-left'>" +
                    response.messages[key].date +
                    "</span></div>";
                  $("#chats").append(temp);
                }
            }).catch((response) => {
              alert("an error occurred")
            })
          }
          , 1000);
        });
      </script>
      <div id="chats"></div>
      <div class="chatbox">
        <form id="post-form">
          {% csrf_token %}
          <input
            type="hidden"
            name="username"
            id="username"
            value="{{username}}"
          />
          <input
            type="hidden"
            name="room_id"
            id="room_id"
            value="{{room_details.id}}"
          />
          <input type="text" name="message" id="message" width="100px" />
          <input type="submit" value="Send" />
        </form>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    $(document).on("submit", "#post-form", function (e) {
      e.preventDefault();
      fetch("http://127.0.0.1:8000/send",{
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken'),
        'authority': 'bearer ' + getCookie('csrftoken')
        },
        body: JSON.stringify(
          {
          username: $("#username").val(),
          room_id: $("#room_id").val(),
          message: $("#message").val(),
          })
        
      }).then((response)=> {
        console.log(response)
      })
      document.getElementById("message").value = "";
    });
  </script>
</html>

{% endblock %}
