{%  extends 'accounts/main.html' %}
{% block content %}
<style>
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .card {
        border: none
    }
    
    .product {
        background-color: #eee
    }
    
    .brand {
        font-size: 13px
    }
    
    .act-price {
        color: red;
        font-weight: 700
    }
    
    .dis-price {
        text-decoration: line-through
    }
    
    .about {
        font-size: 14px
    }
    
    .color {
        margin-bottom: 10px
    }
    
    label.radio {
        cursor: pointer
    }
    
    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }
    
    label.radio span {
        padding: 2px 9px;
        border: 2px solid #ff0000;
        display: inline-block;
        color: #ff0000;
        border-radius: 3px;
        text-transform: uppercase
    }
    
    label.radio input:checked+span {
        border-color: #ff0000;
        background-color: #ff0000;
        color: #fff
    }
    
    .btn-danger {
        background-color: #ff0000 !important;
        border-color: #ff0000 !important
    }
    
    .btn-danger:hover {
        background-color: #da0606 !important;
        border-color: #da0606 !important
    }
    
    .btn-danger:focus {
        box-shadow: none
    }
    
    .cart i {
        margin-right: 10px
    }
</style>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center" >
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="{{object.photo.url}}"s/> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Product Details</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Product</span>
                                <h5 class="text-uppercase">{{object.name}}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price">&#8377; {{object.price}}</span>
                                </div>
                            </div>
                            <h4>Product Description: </h4>
                            <p class="about">{{object.description}}</p>
                            <div class="cart mt-4 align-items-center"> <a href="#" class="btn btn-primary" onclick="joinRoom('{{object.name}}','{{object.id}}')">Interested</a> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getCookie(c_name) {
      var c_arr = document.cookie.split(';');
      var jwtToken
      c_arr.forEach((val) => {
        if (c_name == val.split('=')[0]) {
          var token = val.split('=')[1];
          jwtToken = token
        }
      })
      return decodeURI(jwtToken);
    }
  
    function joinRoom(room, id) {
      const body = {
        room_name: 'room'+id
      }
      console.log(body)
      fetch("http://127.0.0.1:8000/enterRoom/checkview", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken'),
          'authority': 'bearer ' + getCookie('csrftoken')
        },
        body: JSON.stringify(body)
      }
      ).then((response) => {
        // console.log(response.url)
        window.location = response.url
      })
    }
  </script>
{% endblock %}